<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>WiServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.WiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpportunityServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.OpportunityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuditorSearchServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.AuditorSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StandardListServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.StandardListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CodeListServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.CodeListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParametersListServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.ParametersListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourcesListServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.ResourcesListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocationsListServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.LocationsListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WISearchServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.WISearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WISearchByLocationServlet</servlet-name>
    <servlet-class>com.saiglobal.sf.api.servlets.WISearchByLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationsListServlet</servlet-name>
    <url-pattern>/locationsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourcesListServlet</servlet-name>
    <url-pattern>/resourcesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WISearchByLocationServlet</servlet-name>
    <url-pattern>/wisearchbylocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WISearchServlet</servlet-name>
    <url-pattern>/wisearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParametersListServlet</servlet-name>
    <url-pattern>/parameters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeListServlet</servlet-name>
    <url-pattern>/codeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StandardListServlet</servlet-name>
    <url-pattern>/standardList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuditorSearchServlet</servlet-name>
    <url-pattern>/auditorSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WiServlet</servlet-name>
    <url-pattern>/wi</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>OpportunityServlet</servlet-name>
    <url-pattern>/opp</url-pattern>
  </servlet-mapping>
</web-app>